/* Pequeno reset na página*/
html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

/* Estilo do Game */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[tp-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    background-color: deepskyblue;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px); 

    border: 1px solid yellow;
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border: 1px solid red;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E825);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E825);
    border-left: 2px solid #000;
    border-right: 2px solid #000;

}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Pixel';
    font-size: 70px;
    z-index: 100;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
    [tp-flappy] {
        width: 100vw;
        height: 100vh;
        border: none;
    }

    .passaro {
        width: 40px;
        left: calc(50% - 20px);
    }

    .par-de-barreiras {
        width: 50px;
    }

    .barreira .borda {
        width: 60px;
        height: 20px;
    }

    .barreira .corpo {
        width: 50px;
    }

    .progresso {
        font-size: 40px;
        top: 5px;
        right: 5px;
    }
}
